* {
	cursor: url('../assets/master_sword_cursor.png') 0 0, default;
}

/* Full page size + background image */

html, body  {
	
	background-image: url("../assets/homepage.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
	margin: 0;

	cursor: url('../assets/master_sword_cursor.png') 0 0, default;
	
}


/* story dialogue box*/


.storyBox {

	display: flex;
	justify-content: center;
	margin-top: 0px;

}


.storyText {

	color: white;
	font-size: 35px;
	text-align: center;
	display: inline-block;
	justify-content: center;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;

	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;
}


/* story buttons */

.optionButtons {

	display: flex;
	justify-content: center;

	position: fixed;
	bottom: 20px;
	left: 35%;
	right: 35%;
	gap: 20px;
}

.optionPress {

	color: white;
	font-size: 25px;
	text-align: center;

	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}