img {
    width: 65%;
}

body {
    cursor: url('../images/master_sword_cursor.png') 0 0, default;
}

#master_sword {
    color: black;
    text-decoration: none;
    cursor: url('../images/master_sword_cursor.png') 0 0, default;
}

#layout {
    display: flex;
    gap: 50px;
}
