html, body {
    background-image: url("../assets/korok.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
    margin: 0;
    cursor: url('../assets/master_sword_cursor.png') 0 0, default;
}

.textBox {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow:
            -2px -2px 0 black,
            2px -2px 0 black,
            -2px 2px 0 black,
            2px 2px 0 black;

    display: inline-block;
    justify-content: center;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
}

#continue {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    left: 45%;
    right: 45%;
    gap: 20px;

    color: white;
    font-size: 25px;
    text-align: center;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.backtrackButtons {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 20px;
    left: 20px;
    gap: 10px;
}


.backtrackPress {
    color: white;
    font-size: 15px;
    text-align: center;

    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 10px;
}