img {
    width: 65%;
}

body {
    cursor: url('../assets/master_sword_cursor.png') 0 0, default;
}

#layout {
    display: flex;
    gap: 50px;
}

#entrance {
    color: black;
    text-decoration: none;
    cursor: url('../assets/master_sword_cursor.png') 0 0, default;
}