
/* Full page size + background image */


html, body {
	/*background-image: url("https://t4.ftcdn.net/jpg/06/35/45/17/360_F_635451761_eSORWWhbC3Y1ycQkWdhLWDYtgI6IdENq.jpg");*/
	background-image: url("../assets/activity.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	cursor: url('../assets/master_sword_cursor.png') 0 0, default;
}


/* story dialogue box*/


.storyBox {

	display: flex;
	justify-content: center;
	margin-top: 0px;

}


.storyText {

	color: white;
	font-size: 32px;
	text-align: center;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;

/* What the text shadow does in order:
		top left outline
		top right outline
		bottom left outline
		bottom right outline*/

	
	display: inline-block;
	justify-content: center;

	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;

}


/* story buttons */


.optionButtons {

	display: flex;
	justify-content: center;

	position: fixed;
	bottom: 20px;
	left: 35%;
	right: 35%;
	gap: 20px;

}


.decisionButtons {

	color: white;
	font-size: 25px;
	text-align: center;

	background: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;

}


/* backtrack buttons */

.backtrackButtons {

	display: flex;
	justify-content: center;

	position: fixed;
	top: 20px;
	left: 20px;
	gap: 10px;

}


.returnButtons {

	color: white;
	font-size: 15px;
	text-align: center;

	background: rgba(255, 255, 255, 0.4);
	border-radius: 15px;
	padding: 10px;

}

img {
    width: 65%;
}

#layout {
    display: flex;
    gap: 50px;
}
