
/* Full page size + background image */


html, body {
	/*background-image: url("https://t4.ftcdn.net/jpg/06/35/45/17/360_F_635451761_eSORWWhbC3Y1ycQkWdhLWDYtgI6IdENq.jpg");*/
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	
}


/* Layout of the main container */

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

/* Top text */

.sectionTitle {
	
	text-align: center;
	overflow-wrap: break-word;
	font-size: 32px;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	margin: 20px;
	border-radius: 20px;
	padding: 20px;
	color: white; /* should we keep the text white?*/
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;

/* What the text shadow does in order:
		top left outline
		top right outline
		bottom left outline
		bottom right outline*/

}

/* Options at the bottom*/

.options {

	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px; 
	color: white; /* we should change the text of the options to match the option? like pink for the fairy green for the deer, etc. or something like that?? we would have to add separate IDs for each option though
}

/* Semi-transparent boxes for options + backtrack */

.optionBox {

	text-decoration: none;
	color: white;
	padding: 20px;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	cursor: pointer;
	transition: background 0.3s ease;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;

}


.backtrack {

	text-decoration: none;
	color: white;
	position: absolute;
	padding: 10px;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.3s ease;
	text-shadow:
		-2px -2px 0 black,
		2px -2px 0 black,
		-2px 2px 0 black,
		2px 2px 0 black;
	
}

/* Backtrack positioning*/

.home {
	bottom: 20px;
	left: 20px;
}

.previous {
	bottom: 20px;
	left: 140px;
}


/* Hover effect */

.optionBox:hover {
	background: rgba(255, 255, 255, 0.8);
}

.backtrack:hover {
	background: rgba(255, 255, 255, 0.8);
}













